@charset "utf-8";

/* CSS Document */


/* =========Font=========== */

@font-face {
    font-family: myheading;
    src: url(../font/UVNSachVo_B.eot), url(../font/UVNSachVo_B.TTF), url(../font/UVNSachVo_B.woff);
}

@font-face {
    font-family: mybody;
    src: url(../font/NOTOSANSDISPLAY-MEDIUM.eot), url(../font/NotoSansDisplay-Medium.ttf), url(../font/NOTOSANSDISPLAY-MEDIUM.woff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: myheading;
}

body {
    font-family: mybody;
}


/* =========HEADER========= */

#blackscreen {
    width: 100%;
    height: 100%;
    background-color: #1e402f;
    position: fixed;
    z-index: 1800;
}

.bgheader {
    background-color: #cecfca;
    position: sticky;
    z-index: 4000;
    top: 0;
}


/* ===================================NAVI============================ */

#logoheaderheader {
    line-height: 60px;
}

#nav li {
    list-style: none;
    position: relative;
    display: inline-block;
}

#nav .subnav {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #21bf73;
    display: none;
}

#nav li:hover .subnav {
    display: block;
}

#nav li a {
    color: #f9fcfb;
    text-decoration: none;
    line-height: 60px;
    padding: 0 20px;
    display: inline-block;
    font-size: 17px;
    font-family: myheading;
}

#nav>li:hover>a,
#nav.subnav li :hover a {
    background-color: #f9fcfb;
    color: #21bf73;
}

.subnav li {
    width: 100%;
}

.subnav li:hover {
    background-color: #00e0c7;
    color: #21bf73;
}

.fa-caret-down {
    font-size: 18px;
}

.navicon ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navicon a {
    color: #f9fcfb;
    font-size: 20px;
    text-decoration: none;
    float: right;
    line-height: 60px;
    padding: 0 10px;
}

.navicon a:hover {
    color: #4e27a8;
    transition: all ease 0.5s;
}

.currentheadline a {
    color: #000000;
    text-decoration: none;
}

.currentp {
    text-align: center;
}

.currentp a {
    color: #000000;
    text-decoration: none;
}

.explorebtn1 {
    color: #304559;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #304559;
    border-radius: 5px;
}


/* ONLY X-LARGE */

@media (min-width: 1200) {
    .bgheader {
        height: 60px;
        background-color: #21bf73;
        position: sticky;
        top: 0px;
        z-index: 2000;
    }
    #signinup ul li a:hover {
        color: #21bf73;
        transition: all ease 0.5s;
    }
    #navi ul li a:hover {
        color: #21bf73;
        transition: all ease 0.5s;
    }
}


/* ONLY LARGE */

@media (min-width: 992px) and (max-width: 1199px) {
    .bgheader {
        height: 60px;
        background-color: #21bf73;
        position: sticky;
        top: 0px;
        z-index: 2000;
    }
    #logoheader {
        line-height: 60px;
    }
    #signinup ul li a:hover {
        color: #21bf73;
        transition: all ease 0.5s;
    }
    #navi ul li a:hover {
        color: #21bf73;
        transition: all ease 0.5s;
    }
}


/* ONLY MEDIUM  */

@media (min-width: 768px) and (max-width: 991px) {
    .bgheader {
        height: 60px;
        background-color: #21bf73;
        position: sticky;
        top: 0px;
        z-index: 2000;
    }
    #logoheader {
        text-align: center;
        line-height: 60px;
    }
}


/* ONLY SMALL */

@media (min-width: 576px) and (max-width: 767px) {
    .bgheader {
        height: 60px;
        background-color: #21bf73;
        position: sticky;
        top: 0px;
        z-index: 2000;
    }
    #logoheader {
        text-align: center;
        line-height: 60px;
    }
}


/* ONLY X-SMALL */

@media (max-width: 575px) {
    .bgheader {
        height: 60px;
        background-color: #21bf73;
        position: sticky;
        top: 0px;
        z-index: 2000;
    }
    #logoheader {
        text-align: center;
        line-height: 60px;
    }
}